$color-fail: #D62929;
$color-pass: #007100;
$color-running: #CECE03;
$color-light-grey: #cccccc;

.widget-travis {
  // Build status indicators
  .build {
    color: white;

    &--success {
      background-color: $color-pass;
    }

    &--running {
      background-color: $color-running;
      color: black;
    }

    &--failed {
      background-color: $color-fail;
    }
  }

  // Styles for individual repositories
  .repositories {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .repo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem;
    padding: 1rem;

    &.build--failed {
      background-color: transparent;
      border: 1px solid white;
    }
  }

  // Don't show individual branches for modules with no failures
  .repo.build--success .repo__builds {
    display: none;
  }

  // Styles for individal repository builds
  .repo__builds {
    display: flex;
    flex-direction: row;
  }

  .repo__build {
    border-radius: 3px;
    font-size: .75rem;
    margin: .2rem;
    margin-top: .5rem;
    padding: .1rem .25rem;
  }

  .travis-logo {
    padding: 1rem;
    text-align: center;

    img {
      height: 90px;
    }
  }

  .travis-user {
    color: $color-light-grey;
    font-size: .8rem;
    margin-left: 110px;
    margin-top: -20px;
  }
}
