<script type='text/javascript'>
$(function() {
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":4,"size_y":1},{"col":1,"row":2,"size_x":4,"size_y":2}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 4
});
</script>


<% content_for :title do %>SilverStripe<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="3">
      <div data-id="travis" data-view="Travis" data-unordered="true" data-title="" data-moreinfo="Travis builds by supported repositories"></div>
    </li>
    <!--
      <li data-row="2" data-col="1" data-sizex="4" data-sizey="2" style="display:none">
        <div data-id="coverage" data-view ="Coverage" data-title="" data-moreinfo="Code coverage levels for supported repositories"></div>
      </li>
    -->
  </ul>
</div>
